@model IEnumerable<Expense_Tracker.Models.ExpenseCategory>

@{
    Layout = "_Layout";
}


<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" asp-controller="ExpenseCategories" class="btn btn-success"> Create </a>

        <a asp-action="Index" asp-controller="Expenses" class="btn btn-primary"> Go to Index of Expenses </a>


    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseCategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseCategoryName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ExpenseCategoryId" class="btn btn-warning">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ExpenseCategoryId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</body>
</html>